.main-blog {
    padding-top: 50px;
    background-color: #fef0e8;
    width: 100%;
    .container {
        h1 {
            font-weight: 400;
            padding-bottom: 20px;
        }
        div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 118px;
            span {
                color: rgba(51, 51, 51, 0.501557);
            }
        }
    }
}