.header {
  .container-fluid {
    width: 1300px;
    margin: 0px auto;
  }
  background-color: #fef0e8;
  width: 100%;
  padding: 1rem 2rem;
  &-sm {
    display: none;
  }
  .block {
    display: none;
  }
  .header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      transform: matrix(1, 0, 0, -1, 0, 0);
      font-weight: 400;
      left: 68px;
      top: 85px;
    }
    nav {
      transform: translateX(50px);
      ul {
        width: 400px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
          transition: opacity 0.4s ease;
          height: 25px;
          cursor: pointer;
          position: relative;
          color: #333333;
          svg {
            position: absolute;
            top: 3px;
            left: -18px;
          }
        }
        li:hover {
          opacity: 0.6;
        }
        li:active {
          opacity: 0.4;
        }
      }
    }
    div {
      ul {
        width: 160px;
        height: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            border: 1px solid rgba(240, 120, 103, 0.295828);
            box-sizing: border-box;
            border-radius: 50%;
            transition: margin 0.4s ease;
          }
          a:active {
            opacity: 0.4;
          }
          a:hover {
            margin-bottom: 10px;
          }
        }
      }
    }
    .menu-bar {
      display: none;
    }
  }
}

@media (max-width: 375px) {
  .header {
    padding: 0px;
    background-color: #fef0e8;
    width: 100%;
    .header-section {
      h1 {
        display: none;
      }

      nav {
        transform: translateX(50px);

        ul {
          display: none;             
        }
      }

      div {
        ul {
          display: none;
        }
      }
    }

    &-sm {
      border: 10px solid transparent;
      width: 100%;
      margin: 10px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px;
      margin: 0px;

      &__heading {
        h1 {
          margin: 0px;
          transform: matrix(1, 0, 0, -1, 0, 0);
          font-weight: 400;
          left: 68px;
          top: 85px;
        }
      }

      &__menu {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(240, 120, 103, 0.295828);
      }
    }

    &-navbar {
      width: 100%;
      nav {
        background-color: rgba(240, 120, 103, 0.295828);
        ul {
          li {
            padding: 8px 0px;
            display: flex;
            justify-content: center;
            color: #333;
            &:hover {
              opacity: 0.8;
              background-color: #f8d843;
            }
          }
        }
      }
      
      div {
        background-color: rgba(240, 120, 103, 0.295828);
        ul {
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            opacity: 0.8;
            background-color: #f8d843;
          }
          li {
            padding: 8px 10px;
              &:hover {
                transform: translateY(-5px);
              }
          }
        }
      }
    }
    .block {
      display: none;
    }
  }
}
